CMU/*.npz
CMU/**/*.npz
__pycache__/
processed/
processed_try/
wandb/
processed_KIT/
processed_CMU/
a/
models/
models_CMU/
models_KIT/
*.gif
*.pth
*.pt
*.npz
*.npy

processed/
processed_CMU/
processed_KIT/
processed_try/

wandb/

__pycache__/
